@model HotSufHotStuffAppfApp.Models.Order

<h2>Order Details</h2>

<p>Order ID: @Model.OrderId</p>
<p>Date: @Model.OrderDate</p>
<p>Total: ₹@Model.OrderTotal</p>

<h4>Products</h4>

<table class="table">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
    </tr>

    @foreach (var item in Model.OrderDetails)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>₹@item.ProductPrice</td>
            <td>@item.Quantity</td>
        </tr>
    }
</table>
