@model HotStuffApp.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<div class="card shadow-sm">
    <div class="card-header bg-info text-white">
        <h4>Category Details</h4>
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Category ID</dt>
            <dd class="col-sm-9">@Model.CategoryId</dd>

            <dt class="col-sm-3">Category Name</dt>
            <dd class="col-sm-9">@Model.CategoryName</dd>
        </dl>

        <a asp-action="Edit" asp-route-id="@Model.CategoryId"
           class="btn btn-warning">
            Edit
        </a>

        <a asp-action="Index" class="btn btn-secondary">
            Back
        </a>
    </div>
</div>
