@model HotStuffApp.Models.Product

@{
    ViewData["Title"] = "Create Product";
}

<div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
        <h4>Create New Product</h4>
    </div>

    <div class="card-body">

        <form asp-action="Create">
            <div class="mb-3">
                <label asp-for="ProductName" class="form-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ProductPrice" class="form-label"></label>
                <input asp-for="ProductPrice" class="form-control" />
                <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId"
                        asp-items="ViewBag.CategoryId"
                        class="form-select">
                </select>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
